#title {
    font-size: 50px;
    font-weight: bolder;
    border: solid red 5px;
    width: 300px;
    text-align: center;
    padding: 10px;
    margin: auto;
}

body {
    background-image: url("../images/Sports.png");
}

.content {
    max-width: 1100px;
    margin: auto;
    padding: 10px;
    border: solid black 1px;
}

#instruction {
    margin: auto;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color: blue;
}

.button {
    max-width: 102px;
    margin: auto;
    padding: 10px;
}

#timer {
    font-size: 25px;
    font-weight: bolder;
    width: 400px;
    text-align: center;
    padding: 10px;
    margin: auto;
    color: red;
}

#questions {
    font-size: 20px;
    font-weight: bold;
    margin: auto;
    text-align: center;
}